<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ICCHeadshots.Properties.Settings.Speakers_and_SessionsConnectionStringFall2013"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\greg\Documents\CRineta\Iowa Code Camp\ICC 2014 Spring\Sessions and Speakers\Speakers and Sessions.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>